package partials

templ avatar(image string) {
	<div tabindex="0" role="button" class="btn btn-circle avatar hover:bg-surface-tertiary transition-all">
		<div class="w-10 rounded-full">
			<img alt="Tailwind CSS Navbar component" src={ image }/>
		</div>
	</div>
}
