<div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
    <div class="hero-overlay bg-opacity-60 bg-base-200"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-lg">
            <h1 class="mb-5 text-6xl font-bold text-base-content">Johnethel School</h1>
            <p class="mb-5 font-medium text-base-content text-lg">Grooming Future Leaders for Excellence.</p>
            <button class="btn btn-base"><a href="/about">Find Out More</a></button>
        </div>
    </div>
</div>