package partials

templ InnerDashboardHeader() {
	<div class="navbar border-y border-y-border-default my-2">
		<div class="flex-1">
			<div class="form-control">
				@Input("Search", templ.Attributes{})
				// <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto bg-surface-default"/>
			</div>
		</div>
		<div class="flex-1 gap-2 justify-end">
			@PrimaryBtn(templ.Attributes{"hx-post": "/students/create"}) {
				Add Student
			}
		</div>
	</div>
}
