package partials

import (
	"github.com/theSamuelIyeh/johnethel-school-rms/views/svg"
)

templ LogoName() {
	<template x-if="theme == true">
		<a
			class="transition flex items-center justify-center h-6"
			href="/"
		>
			@svg.DarkLogoName()
		</a>
	</template>
	<template x-if="theme == false">
		<a
			class="transition flex items-center justify-center h-6"
			href="/"
		>
			@svg.LightLogoName()
		</a>
	</template>
}
