<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="manifest" href="/manifest.json" />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
    />
    <meta
      name="description"
      content="JOHNETHEL SCHOOL is a nur/pry school located at Ogbomoso, committed to providing quality education and grooming future leaders for excellence."
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/site/logo.svg" />
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/service-worker.js", { scope: "/" })
          .then(function (registration) {
            console.log(
              "Service Worker registered with scope:",
              registration.scope
            );
          })
          .catch(function (error) {
            console.error("Service Worker registration failed:", error);
          });
      }
    </script>
    <title>JOHNETHEL SCHOOL</title>
  </head>
  <body>
    <script src="/js/dist_htmx.min.js"></script>

    {{ embed }}
  </body>
</html>
