package pages

import (
	"github.com/theSamuelIyeh/johnethel-school-rms/views/partials"
)

templ DashboardSubjectsComponent() {
	<div class="">
		@partials.Header1(templ.Attributes{"x-html": "'<span class=\"font-normal\">this is subjects, </span>' +" + "userName"})
		<div class="w-full overflow-x-auto">
			// @table()
		</div>
	</div>
}
