<div class="hero min-h-screen bg-base-200">
    <div class="hero-content w-full">
        <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
            <div class="card-body gap-5">
                <div class="card-title text-center justify-center items-center"><a href="/">{% include "partials/logo.html" %}</a></div>
                <div class="card-title justify-center items-center">RESET PASSWORD</div>
                <form hx-post="/api/auth/resetpassword" hx-target="#error-message">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="email" name="email" placeholder="Email" class="input input-bordered" />
                </div>
                <label class="label">
                    <a href="/auth/parent/login" class="label-text-alt link link-hover">Go back to Login</a>
                </label>
                <div class="form-control mt-5">
                    <button class="btn btn-primary">Reset</button>
                </div>
                </form>
                <div id="error-message" class="text-center text-error font-bold text-lg"></div>
            </div>
        </div>
    </div>
</div>